.crud-grid h1 {
    padding: 20px;
}

.crud-grid .currency {
    text-align: right;
    padding-right: 20px;
}

table {
    width: 100%;
}
.grid-control-bar-top {
    height:auto;
}
::ng-deep table .mat-sort-header {
    padding-top: 4px;
}

::ng-deep table .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0em;
}

::ng-deep table .mat-form-field {
    width: 100%;
    padding: 0 4px 0 0;
}

::ng-deep table .mat-form-field-wrapper {
    font-size: 14px;
    width: 100%;
    padding: 1px !important;
}

::ng-deep table .mat-form-field-underline,
::ng-deep table .mat-form-field-appearance-legacy .mat-form-field-underline {
    position: absolute;
    width: 100%;
    bottom: 0;
}

::ng-deep table .mat-form-field-infix,
::ng-deep table .mat-form-field-appearance-legacy .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 20px;
    width: 100%;
    padding-top: 0;
}

::ng-deep table .table-column-search-field input::placeholder,
::ng-deep table .table-column-search-field label {
    font-size: 10px;
}

.search-field-holder {
    height: 35px;
    padding: 0;
}

.mat-sort-header {
    padding-bottom: 1px;
}

td.mat-cell {
    padding: 0 10px 0 0;
}

::ng-deep .mat-sort-header-arrow[style] .mat-sort-header-stem {
    display: none;
}

tr.mat-row:hover {
    background-color: rgba(0, 0, 50, 0.07);
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.03);
}

tr.mat-row,
tr.mat-footer-row {
    height: 30px;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border-bottom-width: 0.1px;
}

.fab-btn-horiz {
    margin-right: 4px;
}