<app-header></app-header>
<section class="ftco-section" id="cards">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 welcome-left">
                <h1 class="title-w3ls mt-2 mb-3">SampleBank Services</h1>

                <p class="mt-4 pr-lg-5">SampleBank offers a diverse range of financial products and banking services to
                    customers through a growing branch and ATM network and digital channels such as Netbanking,
                    Phonebanking and HydroBanking.

                </p>
            </div>
            <div class="col-lg-7 welcome-right text-center mt-lg-0 mt-5">
                <div class="row">
                    <div class="col-sm-4 service-1-w3pvt serve-gd1">
                        <div class="serve-grid mt-4">
                            <span class="s1">
                                <fa-icon [icon]="faUsers"></fa-icon>
                            </span>
                            <p class="mt-2">Personal Loan </p>
                        </div>
                    </div>
                    <div class="col-sm-4 service-1-w3pvt serve-gd2">
                        <div class="serve-grid mt-4">
                            <span class="s2">
                                <fa-icon [icon]="faHandshake"></fa-icon>
                            </span>
                            <p class="mt-2">Business Loan </p>
                        </div>
                        <div class="serve-grid mt-4">
                            <span class="s3">
                                <fa-icon [icon]="faHome"></fa-icon>
                            </span>
                            <p class="mt-2">Home Loan </p>
                        </div>
                    </div>
                    <div class="col-sm-4 service-1-w3pvt serve-gd3">
                        <div class="serve-grid mt-4">
                            <span class="s4">
                                <fa-icon [icon]="faHome"></fa-icon>
                            </span>
                            <p class="mt-2">Auto Loan </p>
                        </div>
                        <div class="serve-grid mt-4">
                            <span class="s5">
                                <fa-icon [icon]="faStethoscope"></fa-icon>
                            </span>
                            <p class="text-li mt-2">Health Loan </p>
                        </div>
                        <div class="serve-grid mt-4">
                            <span class="s6">
                                <fa-icon [icon]="faGraduationCap"></fa-icon>
                            </span>
                            <p class="mt-2">Education Loan </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>