<mat-form-field class="grid-filter-date-range-picker" appearance="" >
    <!-- <mat-label>Enter a date range</mat-label> -->
    <mat-date-range-input [rangePicker]="picker">
        <input matStartDate #dateRangeStart placeholder="Start date" (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
        <input matEndDate #dateRangeEnd placeholder="End date" (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
    </mat-date-range-input>
    <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
