// app-grid th {
::ng-deep {

    table .mat-form-field.grid-filter-date-range-picker {
        width: 160px;
        padding: 0 5px 0 0;
    }

    .mat-form-field-appearance-legacy input {
        font-size: 83%;
        margin: 3px 0 0;
    }

    .mat-form-field-appearance-legacy .mat-form-field-label {
        
        font-size: 78%;
        color: rgba(0, 0, 0, .44);
    }

    .mat-form-field-appearance-legacy.mat-form-field-should-float .mat-form-field-label {
        
        color: rgba(0, 0, 0, .54);
    }
}